# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run
logs
*.txt

# Files from Forge MDK
forge*changelog.txt

# Maybe a future feature
src/parsed

/libs

# Map of original names from proguard
proguard.map

# Proguard configuration output
proguard-output.conf